<mat-card>
    <mat-card-header>
        <div class="">
            <img width="100" height="100" src="https://img.icons8.com/clouds/100/login-rounded-right.png" alt="login-rounded-right"/>
        </div>
        <h2>User Login</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginform" (ngSubmit)="proceedlogin()">
           <div >
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" >
                </mat-form-field>
           </div>
           
           <div class="">
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" >
                </mat-form-field>
           </div>
          
            
              <div>
                <button type="button" mat-raised-button color="primary">Login</button>
                <a routerLink="/register" mat-raised-button color="accent">New User?</a>
              </div>
          </form>
    </mat-card-content>
  </mat-card>