mat-form-field {
    width: 100%;
}
button {
    margin: 20px;
}
.col-md-6 {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #c7ede6;
    border-radius: 20px;
    width: 300px;
    color: #4c4242;
}